flows.json
[{"id":"8874c1.06ac4b4","type":"tab","label":"Watson Assisstant","disabled":false,"info":""},{"id":"e9a11a07.d39318","type":"watson-conversation-v1","z":"8874c1.06ac4b4","name":"Assisstant","workspaceid":"5d631b8f-e6bb-40e4-ab69-329f135d4506","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/fa4e3ded-0bbd-4d5c-bbe8-4157895b05fd","timeout":"","optout-learning":false,"x":375,"y":180,"wires":[["252d7efe.78c8a2","adf64ba.768e1b8"]],"l":false},{"id":"9c84168e.3b37a8","type":"function","z":"8874c1.06ac4b4","name":"F1","func":"msg.payload = msg.payload.text; \nreturn msg;","outputs":1,"noerr":0,"x":255,"y":260,"wires":[["e9a11a07.d39318","24b9938e.c18c5c"]],"l":false},{"id":"c767bea4.93eec","type":"ui_form","z":"8874c1.06ac4b4","name":"","label":"form","group":"a95fbae2.55a068","order":1,"width":0,"height":0,"options":[{"label":"Enter the input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":95,"y":280,"wires":[["9c84168e.3b37a8"]],"l":false},{"id":"252d7efe.78c8a2","type":"function","z":"8874c1.06ac4b4","name":"F2","func":"if(msg.payload.output.error){\n    msg.payload = \"please rephrase\";\n    return msg;\n}\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":240,"wires":[["72a66ae6.f26834"]],"l":false},{"id":"24b9938e.c18c5c","type":"ui_text","z":"8874c1.06ac4b4","group":"a95fbae2.55a068","order":3,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":395,"y":360,"wires":[],"l":false},{"id":"72a66ae6.f26834","type":"ui_text","z":"8874c1.06ac4b4","group":"a95fbae2.55a068","order":6,"width":0,"height":0,"name":"","label":"bot","format":"{{msg.payload}}","layout":"col-center","x":670,"y":360,"wires":[]},{"id":"adf64ba.768e1b8","type":"debug","z":"8874c1.06ac4b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":80,"wires":[]},{"id":"a95fbae2.55a068","type":"ui_group","z":"","name":"CHATBOT","tab":"43204fd6.ac8a1","order":1,"disp":true,"width":13,"collapse":false},{"id":"43204fd6.ac8a1","type":"ui_tab","z":"","name":"CUSTOMERCARE","icon":"","disabled":false,"hidden":false}]